@media only screen and (max-width:768px) {
  .header{
      background-color: dodgerblue;
      background-image: url(0);
  }
  .nav a{
      display: none;
  }
  .nav .fa-bars{
      display: inline;
     color: rgb(0, 0, 0);
    margin-left: 12rem;
}
.logo{
width: 100%;    
}
.nav img{
  width: 100%;
}
.banner__contact{
  display: grid;
  grid-template-columns: 1fr;
}
.banner__contact h1{
font-size: 1rem;
}
.banner__contact p{
  margin-right: -80px;
  font-size: 0.8rem;
  line-height: 22px;
  margin-top: 3rem;
}
.position .title h3{
  font-size: 1.4rem;
}
.position .title h2{
font-size: 2rem;
}
.position p{
  font-size: 0.8rem;
  width: 100%;
}
.position img{
  width: 100%;
  margin: 0 auto;
}
.position p{
  font-size: 0.9rem;
  width: 100%;
}
.position .item img{
  width: 100%;
  transform: scale(1.5);
}
.image{
  display: none;
}
.project .title h2{
  font-size: 2rem;
}
.project .title p{
  font-size: 0.9rem;
  opacity: 1;
}
.project .container{
  max-width: 100%;
}
.project__content img{
  width: 100%;
  transform: scale(1.3);
  margin-bottom: 2rem;
}
.project__content p{
 margin-top: 4rem;
}
.testimonial{
  width: 95%;
  background-color: dodgerblue;
  background-image: url(0);
  height: 100%;
}
.testimonial {
display: grid;
grid-template-columns: 1fr;
}
.contact button{
  width: 35%;
}
.img{
  display: none;
}
}